body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  #sequence {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }
  
  #sequence span {
    margin-right: 10px;
    
  }
  .container{
    background: #000;
    color: aliceblue;
  }
button{
    width: 100px;
    height: 40px;  
    background-color: rgb(53, 209, 53);
}

input{
    width: 200px;
    height: 35px;
    margin: 5px;
}